/* Write some CSS below : */
body {
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    font-family: 'Arial';
  }

.list-inline{
    list-style: none;
    padding-left: 60px;
}

.list-inline li{
    display: inline;
    font-size: 50px;
    color: black;
    letter-spacing: 50px;
    align-items:center;
}

.list-inline i:hover{
    color: #D4ADCF;
}

a{
    text-decoration: none;
  }

.card-white{
    box-shadow: 0px 10px 30px gray;
    border-radius: 5px;
    width: 800px;
    height: auto;
    border: 2px solid rgb(200, 142, 186);
    padding: 40px;
    margin: 20px 0;
    background-color: white;
    text-align: center;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: black;
  }

h1{
    font-family:"roboto", sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
}

h2{
    font-family:"roboto", sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 32px;

}
.container {
    width: 900px;
    margin: 10px auto;
}

#zainabou_picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.btn-purple {
    background-color: #FCA091;
     color: black;
     border-radius: 15px;
     padding: 20px 30px;
     font-size: 15px;
     font-weight: 700;
     margin-top: 150px;
  }

  .btn-purple:hover{
    opacity: 1;
    background: #FC939C;
  }

ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}





/* 1. Global design first : Body, Headers, Colors, Fonts, Font size, Font weight */

/* 2. Appearance of html elements : Images, Links (buttons), Divs */

